{% extends "base.html" %}

{% block content %}
    <h2>Sign Up</h2>
    <!-- <form method="POST" action="{{ url_for('auth.login') }}" > -->
    <form method="POST" action="/login" >
        <div><label>Email: <input type="email" name="email" required/></label></div>
        <div><label>User name: <input type="text" name="username" required/></label></div>
        <div><label>Password: <input type="password" name="password" required/></label></div>
        <div><label>Repeat password: <input type="password" name="password_repeat" required/></label></div>
        <div><input type="submit" value="Sign Up"/></div>
    </form>
{% endblock %}