{% extends "base.html" %}

{% block content %}
    <h3>Sign Up</h3>
    <!-- <form method="POST" action="{{ url_for('auth.signup') }}" > -->
    <form class="new_survey"  method="POST" action="/signup" >
        <div class="signup" ><label><input placeholder=" Email" type="email" name="email" required/></label></div>
        <div class="signup" ><label><input style="padding-left: 1px;" placeholder=" User name:" type="text" name="username" required/></label></div>
        <div class="signup" ><label><input placeholder=" Password" type="password" name="password" required/></label></div>
        <div class="signup" ><label><input placeholder=" Repeat password" type="password" name="password_repeat" required/></label></div>
        <div class="signup"><input type="submit" value="Sign Up"/></div>
    </form>
    
{% endblock %}