{% extends "base.html" %}

{% block content %}

    <h3><span class="blue">&lt;</span>My<span class="blue">&gt;</span> <span class="yellow">Profile</pan></h3>
        <h4>Here you can see your profile information</h4>

        <table class="bigcell">
            <tbody>

                <tr>                    
                    <td class="firstcol">  {{current_user.name}} </td>
                    <td class="secondcol" > 
                        
                        <div class="smallcell">
                            <div class="insidetable-wide"style="padding-top: 25px; padding-bottom: 25px;">          
                                <span class="insidetable" style="max-width: 33%"> Account name: {{current_user.name}} </span>
                                <span class="insidetable" style="max-width: 33%"> Account email: {{current_user.email}} </span>
                                <span class="insidetable" style="max-width: 33%"> Number of surveys: {{survey_number}}</span>
                            </div>

                            <!-- <div class="insidetable insidetable-wide" style="margin-top: 50px;"> change password?? </div>     -->
                        </div>

                    </td>
                </tr>

            </tbody>
        </table>
    
{% endblock %}