<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Surveys Web Application</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='survey.css') }}">
    </head>

    <body>
        <header>
            <h1><span class="blue">&lt;</span>Best<span class="blue">&gt;</span> <span class="yellow">Surveys</span> <span class="blue">&lt;</span>Online<span class="blue">&gt;</span></h1>
            <div class="topnav">
                <a class="menu", href="{{ url_for('main.index') }}"> Home </a>
                {% if current_user.is_authenticated %}
                    <a class="menu", href="{{ url_for('views.surveys_view') }}"> My Surveys </a>
                    <a class="menu", href="{{ url_for('views.create_view') }}"> Create a Survey </a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                    <a class="menu", href="{{ url_for('auth.login') }}">Login</a>
                    <a class="menu", href="{{ url_for('auth.signup') }}">Sign Up</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <a class="menu", href="{{ url_for('main.profile') }}">My Profile</a>
                    <a class="menu", href="{{ url_for('auth.logout') }}">Logout</a>
                {% endif %}
            </div>
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{messages[0]}}
            </div>
        {% endif %}
        {% endwith %}
        <section class="content">
            {% block content %} {% endblock %}
        </section>

        
        <footer><small>Developed by Sergio Aizcorbe and Manuel Nuño</small></footer>
    </body>
</html>
