
<link rel="stylesheet" href="{{ url_for('static', filename='toggle-radio.css') }}">

<table class="bigcell">

    <tbody>
        <script src="{{ url_for('static', filename='state.js') }}"></script>
        
        
        <tr>                    
            <!-- <td class="firstcol" href= "{{url_for('views.display_survey',survey_id=survey.id)}}"></td>      <button>Survey {{sur_number}}</button><td>  -->
            
            <td class="firstcol"> 
                <a href= "{{url_for('views.display_survey',survey_id=survey.id)}}"> Survey {{sur_number}}  </a> 
            </td>

            <td class="secondcol" > 
                

                <form method="POST" action="/my-surveys"> 
                    <div class="smallcell">
                        <div class="insidetable-wide">          
                            <span class="insidetable" style="max-width: 33%; min-width: 150px;"> Title: {{survey.title}} </span>
                            <span class="insidetable" style="max-width: 33%; min-width: 150px">Number of Answers: {{answer_number[survey.id]}}</span>
                            <span id = "survey_status{{survey.id}}" name = "survey_state" class="insidetable" style="max-width: 33%; min-width: 150px"> Status: {{status_list[survey.id].capitalize()}}  </span>
                            
                        </div>
                        
                        <div class="insidetable-wide"style="margin-top: 2%;">          
                            
                            <span class="insidetable" style="max-width: 33%; min-width: 150px; cursor:pointer;" onclick= "location.href = '/create-survey';" > Edit Survey</span>
                            <span class="insidetable" style="max-width: 33%; min-width: 150px; cursor:pointer;" onclick= "location.href = '/results{{survey.id}}';" > View Results </span>
                            
                            <!-- added changes to html for triple button taken from https://www.cssscript.com/segmented-control-toggle-radio/ -->
                            <span class="toggle-radio" data-style="rounded">
                                
                                <input name = "survey_id" value="{{survey.id}}" hidden>
                                <input id = "survey{{sur_number}}" name = "survey_status" value="{{survey.state.name.capitalize()}}" hidden>

                                <div class="colornew" onclick="state_change('default_Option1{{survey.id}}{{sur_number}}', 'survey_status{{survey.id}}', 'button_stat_change{{survey.id}}{{sur_number}}', 'survey{{sur_number}}', 'default_Option1{{survey.id}}{{sur_number}}')" > 
                                    <input type="radio" name="button_row" id="default_Option1{{survey.id}}{{sur_number}}" value="New" checked=true>
                                    <label for="default_Option1{{survey.id}}{{sur_number}}">New</label>                    
                                </div>
                                
                                
                                <div class="coloronline" onclick="state_change('default_Option2{{survey.id}}{{sur_number}}', 'survey_status{{survey.id}}', 'button_stat_change{{survey.id}}{{sur_number}}', 'survey{{sur_number}}', 'default_Option1{{survey.id}}{{sur_number}}')" >
                                    <input type="radio" name="button_row" id="default_Option2{{survey.id}}{{sur_number}}" value="Online" >
                                    <label  for="default_Option2{{survey.id}}{{sur_number}}">Online</label>
                                </div>
                                
                                
                                <div class="colorclosed" onclick="state_change('default_Option3{{survey.id}}{{sur_number}}', 'survey_status{{survey.id}}', 'button_stat_change{{survey.id}}{{sur_number}}', 'survey{{sur_number}}', 'default_Option1{{survey.id}}{{sur_number}}')" >
                                    <input  type="radio" name="button_row" id="default_Option3{{survey.id}}{{sur_number}}" value="Closed">
                                    <label for="default_Option3{{survey.id}}{{sur_number}}" >Closed</label>
                                </div>
                            </span>
                            
                            <span>
                                <button  id="button_stat_change{{survey.id}}{{sur_number}}" style = "display:none" type="submit"  >Save Changes</button>                            
                            </span>                                
                        </div>
                    </div>       
                </form>
            </td>
        </tr>
    </tbody>
</table>