{% extends "base.html" %}

{% block content %}
    <script src="{{ url_for('static', filename='survey.js') }}"></script>

    <form method="POST" action="/create-survey">  
        <div class="survey_info" id="survey_id">
            <div>Title of the survey: <input type="text" name="survey_title" placeholder="Type your title"/></div>
            <textarea name="survey_desc" style="width:400px; height:50px;" placeholder="Type your description (optional)"></textarea>
        </div>
        <button type="button" onclick="question_adder()">Add question</button>
        <div class="question_list" id ="question_id">

            <!-- <div>Question ${question_count+1}: 
                <input class="question q${question_count}" name="question${question_count}" placeholder="Type your question">
            </div> -->

            <!-- <div class="answerfor${question_idx}">Answer: 
                <input class="answer q${question_idx}" name="answer${question_idx}" placeholder="Type your answer">
                <button id="del_answer_button${question_idx}" type="button" tabindex="-1" onclick="answer_deleters[${answer_deleters.length}]()"> X </button>
            </div> -->
        </div>

        <div><input type="submit" value="Submit survey"/></div>
    </form>

{% endblock %}