{% extends "base.html" %}

{% block content %}
    
    <!-- <h1>{{current_user.name}} Surveys</h1>
    <div>You have {{num_surveys}} surveys:</div>
    <button><a href="{{ url_for('views.createview') }}">CREATE A SURVEY</a></button>
    
    
    {% if num_surveys == 0 %}
        <div>Do you want to <a href="{{ url_for('views.createview') }}">CREATE</a> a survey?</div>
    {% endif %} -->
    
    

    <h3><span class="blue">&lt;</span>My<span class="blue">&gt;</span> <span class="yellow">Surveys</pan></h3>

        <button class="addsurveybutton", onclick= "location.href = '/create-survey';">CREATE A NEW SURVEY</button>

        <h4>You have a total of {{survey_number}} surveys</h4>
        


        {% if survey_number > 0 %}
        

        
            <table class="bigcell">
                <thead>
                    <tr>
                        <th class="header"><h1>Surveys</h1></th>
                        <th class="header"><h1>Information</h1></th>
                        
                    </tr>
                </thead>



                <tbody>



                    <tr>                    
                        <td class="firstcol"> Survey identificator:{{survey_id}}</td>
                        <td class="secondcol" > 
                            
                            <table class="smallcell">
                                <tr>                    
                                    <td class="insidetable"> titulo</td>
                                    <td class="insidetable"> status </td>
                                    <td class="insidetable"> editar encuesta</td>

                                </tr>
                                <tr>
                                    <td class="insidetable"> #gente que ha respondido</td>
                                    <td class="insidetable"> ver resultados </td>
                                    <td class="insidetable"> cambiar estado de la encuesta </td>
                            

                                </tr>
                            </table>
                        </td>
                    </tr>


                </tbody>
            </table>
    
  
        {% endif %}
    
{% endblock %}