{% extends "base.html" %}

{% block content %}
    
    <!-- <h1>{{current_user.name}} Surveys</h1>
    <div>You have {{num_surveys}} surveys:</div>
    <button><a href="{{ url_for('views.createview') }}">CREATE A SURVEY</a></button>
    
    
    {% if num_surveys == 0 %}
        <div>Do you want to <a href="{{ url_for('views.createview') }}">CREATE</a> a survey?</div>
    {% endif %} -->
    
    

    <h3><span class="blue">&lt;</span>My<span class="blue">&gt;</span> <span class="yellow">Surveys</span></h3>

        <button class="addsurveybutton", onclick= "location.href = '/create-survey';">CREATE A NEW SURVEY</button>

        <h4>You have a total of {{survey_number}} surveys</h4>
        {% if questions %}
            <h2>Questions {{questions}}</h2>
        {% endif %}

        {% if survey_number > 0 %}
        
        
            <table class="bigcell">
                <thead>
                    <tr>
                        <th class="header"><h1>Surveys</h1></th>
                        <th class="header"><h1>Information</h1></th>
                        
                    </tr>
                </thead>



                <tbody>



                    <tr>                    
                        <td class="firstcol"> survey1</td>
                        <td class="secondcol" > 
                            

                            <div class="smallcell">
                                <div class="insidetable-wide"style="padding-top: 25px;">          
                                    <span class="insidetable" style="max-width: 33%; min-width: 150px;"> titulo </span>
                                    <span class="insidetable" style="max-width: 33%; min-width: 150px"> status</span>
                                    <span class="insidetable" style="max-width: 33%; min-width: 150px"> editar encuesta</span>
                                </div>

                                <div class="insidetable-wide"style="margin-top: 50px;padding-bottom: 25px;">          
                                    <span class="insidetable" style="max-width: 33%; min-width: 150px">#gente que ha respondido </span>
                                    <span class="insidetable" style="max-width: 33%; min-width: 150px"> ver resultados </span>
                                    <span class="insidetable" style="max-width: 33%; min-width: 150px"> cambiar estado de la encuesta </span>
                                </div>
                           </div>       
                        </td>
                    </tr>


                </tbody>
            </table>
    
  
        {% endif %}
    
{% endblock %}